<script src="/js/fizz.js"></script>
<center><form method='post' action='numtocheck'>
<h3>Press the button to fire the function.</h3>

<input type='button' onclick="showanswer()" value="SHOW ANSWER"></center>
<center>
<div id="answerhere">
Answer goes here
</div>
</center>



